<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.lb.datadisplay.dao.srDao">

    <select id="listsr" resultType="top.lb.datadisplay.domain.srDO">
        SELECT *
        FROM sr
    </select>

</mapper>